.index-indicator {
  left: -5vw;
  width: 4vw;
  height: 4vw;
  @apply absolute rounded-full text-primary flex items-center justify-center text-2xl font-bold bg-secondary;
  top: -1vw;
  display: none;

  @apply xl:text-4xl;
  @screen xl {
    display: flex;
  }

  @apply 2xl:text-4xl;
}
