.card-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ticket-diagram-card {
  height: 65vh;
  @screen xs {
    height: 55vh;
  }
  @screen md {
    height: auto;
  }
}

.index-indicator {
  top: calc(-16vw / 2);
  width: 16vw;
  height: 16vw;
  @screen md {
    top: -32px;
    width: 64px;
    height: 64px;
  }
}
