.checkbox-field > input.checkbox,
.react-aria-checkbox {
  appearance: none;
  @apply h-4 w-4 rounded border-2 border-solid border-black border-fontBlack bg-white p-3 transition-all focus:outline-none;
}

.checkbox-field > input.radio {
  appearance: none;
  @apply h-4 w-4 rounded-full border-2 border-solid border-black border-fontBlack bg-white p-2 transition-all focus:outline-none;
}

.checkbox-field > input.checkbox:checked,
[data-selected] .react-aria-checkbox {
  @apply border-primary bg-primary;
  background-image: url('assets/icons/checkmark.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-field > input.radio:checked {
  @apply relative border-primary;
}

.checkbox-field > input.radio:checked::after {
  content: '';
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  @apply absolute rounded-full border-primary bg-primary;
}

.checkbox-field.error {
  @apply text-error;
}

.checkbox-field.error > input.checkbox,
.checkbox-field.error > input.radio {
  @apply border-error;
}
