@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .border-2-softGray {
    @apply border-solid border-2 border-fontBlack border-opacity-10;
  }
  .ml-container {
    padding-left: theme('container.padding.DEFAULT');
    @screen xs {
      margin-left: calc((100vw - theme('container.xs')) / 2);
      padding-left: theme('container.padding.xs');
    }
    @screen sm {
      margin-left: calc((100vw - theme('container.sm')) / 2);
      padding-left: theme('container.padding.sm');
    }
    @screen md {
      margin-left: calc((100vw - theme('container.md')) / 2);
      padding-left: theme('container.padding.md');
    }
    @screen lg {
      margin-left: calc((100vw - theme('container.lg')) / 2);
      padding-left: theme('container.padding.lg');
    }
    @screen xl {
      margin-left: calc((100vw - theme('container.xl')) / 2);
      padding-left: theme('container.padding.xl');
    }
    @screen 2xl {
      margin-left: calc((100vw - theme('container.2xl')) / 2);
      padding-left: theme('container.padding.2xl');
    }
  }

  .mr-container {
    padding-right: theme('container.padding.DEFAULT');
    @screen xs {
      margin-right: calc((100vw - theme('container.xs')) / 2);
      padding-right: theme('container.padding.xs');
    }
    @screen sm {
      margin-right: calc((100vw - theme('container.sm')) / 2);
      padding-right: theme('container.padding.sm');
    }
    @screen md {
      margin-right: calc((100vw - theme('container.md')) / 2);
      padding-right: theme('container.padding.md');
    }
    @screen lg {
      margin-right: calc((100vw - theme('container.lg')) / 2);
      padding-right: theme('container.padding.lg');
    }
    @screen xl {
      margin-right: calc((100vw - theme('container.xl')) / 2);
      padding-right: theme('container.padding.xl');
    }
    @screen 2xl {
      margin-right: calc((100vw - theme('container.2xl')) / 2);
      padding-right: theme('container.padding.2xl');
    }
  }
}

@layer components {
  .section {
    @apply container mx-auto my-4 md:my-12 xl:my-16;
  }
  .divider {
    @apply mb-6 mt-6 h-0 border-2-softGray;
  }

  .link {
    text-decoration: underline;
    cursor: pointer;
    @apply transition-all;
  }

  .link:hover {
    @apply text-opacity-70;
  }
}

@layer utilities {
  .strikediag {
    background: linear-gradient(
      to left top,
      transparent 47.75%,
      currentColor 49.5%,
      currentColor 50.5%,
      transparent 52.25%
    );
  }
}

.square {
  width: 100%;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.grecaptcha-badge {
  visibility: hidden;
}

html {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  flex: 1;
  flex-direction: column;
  display: flex;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
