@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility section {
  @apply container mx-auto my-4 md:my-12 xl:my-16;
}

@utility link {
  text-decoration: underline;
  cursor: pointer;
  @apply transition-all;
}

@utility strikediag {
  background: linear-gradient(
    to left top,
    transparent 47.75%,
    currentColor 49.5%,
    currentColor 50.5%,
    transparent 52.25%
  );
}

@layer base {
  .ml-container {
    padding-left: theme('container.padding.DEFAULT');
    @media (width >= theme(--breakpoint-xs)) {
      margin-left: calc((100vw - theme('container.xs')) / 2);
      padding-left: theme('container.padding.xs');
    }
    @media (width >= theme(--breakpoint-sm)) {
      margin-left: calc((100vw - theme('container.sm')) / 2);
      padding-left: theme('container.padding.sm');
    }
    @media (width >= theme(--breakpoint-md)) {
      margin-left: calc((100vw - theme('container.md')) / 2);
      padding-left: theme('container.padding.md');
    }
    @media (width >= theme(--breakpoint-lg)) {
      margin-left: calc((100vw - theme('container.lg')) / 2);
      padding-left: theme('container.padding.lg');
    }
    @media (width >= theme(--breakpoint-xl)) {
      margin-left: calc((100vw - theme('container.xl')) / 2);
      padding-left: theme('container.padding.xl');
    }
    @media (width >= theme(--breakpoint-2xl)) {
      margin-left: calc((100vw - theme('container.2xl')) / 2);
      padding-left: theme('container.padding.2xl');
    }
  }

  .mr-container {
    padding-right: theme('container.padding.DEFAULT');
    @media (width >= theme(--breakpoint-xs)) {
      margin-right: calc((100vw - theme('container.xs')) / 2);
      padding-right: theme('container.padding.xs');
    }
    @media (width >= theme(--breakpoint-sm)) {
      margin-right: calc((100vw - theme('container.sm')) / 2);
      padding-right: theme('container.padding.sm');
    }
    @media (width >= theme(--breakpoint-md)) {
      margin-right: calc((100vw - theme('container.md')) / 2);
      padding-right: theme('container.padding.md');
    }
    @media (width >= theme(--breakpoint-lg)) {
      margin-right: calc((100vw - theme('container.lg')) / 2);
      padding-right: theme('container.padding.lg');
    }
    @media (width >= theme(--breakpoint-xl)) {
      margin-right: calc((100vw - theme('container.xl')) / 2);
      padding-right: theme('container.padding.xl');
    }
    @media (width >= theme(--breakpoint-2xl)) {
      margin-right: calc((100vw - theme('container.2xl')) / 2);
      padding-right: theme('container.padding.2xl');
    }
  }
}

.react-aria-ModalOverlay {
  @apply fixed top-0 left-0 z-50 flex h-screen w-screen items-center justify-center bg-gray-800;
}

.square {
  width: 100%;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.grecaptcha-badge {
  visibility: hidden;
}

html {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  flex: 1;
  flex-direction: column;
  display: flex;
  color: #333;
  @apply antialiased;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
