ol {
  list-style-type: decimal;
}

ol li {
  @apply my-2;
}

ol li ol {
  list-style-type: lower-alpha;
}

ol li ol li {
  @apply ml-4;
}

ol li ol li ol {
  list-style-type: disc;
}
ol li ol li ol li {
  @apply ml-8;
}
