@reference '../../index.css';

.gdpr-page ol {
  list-style-type: decimal;
}

.gdpr-page ol li {
  @apply my-2;
}

.gdpr-page ol li ol {
  list-style-type: lower-alpha;
}

.gdpr-page ol li ol li {
  @apply ml-4;
}

.gdpr-page ol li ol li ol {
  list-style-type: disc;
}
.gdpr-page ol li ol li ol li {
  @apply ml-8;
}

.gdpr-page h1 {
  @apply text-2xl font-bold;
  padding-top: 2rem;
  text-align: center;
}

.gdpr-page h2 {
  @apply text-xl font-bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  /* text-align: center; */
}

.gdpr-page h3 {
  @apply text-lg font-bold;
  padding-top: 2rem;
  text-align: center;
}

.gdpr-page strong {
  @apply font-bold;
}
